<div class="onboarding-forgot--password">
  <div class="alert-container">
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>

  <h1>Forgot Password?</h1>
  <p>No worries! We'll help you reset it.</p>

  <form #loginForm="ngForm" (ngSubmit)="sendlink()" novalidate>
    <!-- Email -->
    <div class="forgotpassword-input--group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        #emailCtrl="ngModel"
        placeholder="Email"
        required
        email
      />
      <!-- Email validation messages -->
      <div class="error-message" *ngIf="emailCtrl.invalid && emailCtrl.touched">
        <small *ngIf="emailCtrl.errors?.['required']">Email is required.</small>
        <small *ngIf="emailCtrl.errors?.['email']">Please enter a valid email address.</small>
      </div>
    </div>

    <!-- resend or try different email -->
  <div class="login-donthave-account">
    <button (click)="sendlink()">Resend email</button> or
    <button (click)="trynewemail()">Try a different email?</button>
  </div>
   

    <button class="login-button" type="submit" [disabled]="loginForm.invalid">
      Send Reset Link
    </button>
  </form>

  

 

  
</div>
