@use 'mixins' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'components' as *;

footer {
  @include flex(column);
  @include h13;
  background-color: $background-dark;
  color: $background-white;
  padding: 40px 20px;

  .container {
    @include flex($direction: column, $gap: 20px);
    padding: 30px;
    border: 1px solid $background-white;
  }

  .about-us {
    gap: 20px;

    .title {
      margin-bottom: 20px;
      @include h11;
    }
  }

  .links-socials {
    display: none;

    @include desktop {
      @include flex(row);
      margin-top: 20px;
    }
  }

  .copyright-terms {
    margin-top: 30px;
    @include flex(row);
  }

  .links {
    width: 50%;

    .title {
      margin-bottom: 20px;
      @include h11;
    }
    a {
      text-decoration: none;
      color: $background-white;
    }

    li {
      list-style-type: none;
      margin-bottom: 15px;
    }
  }

  .connect {
    width: 50%;

    .title {
      margin-bottom: 20px;
      @include h11;
    }

    .socials {
      @include flex($direction: row, $gap: 15px);

      a {
        text-decoration: none;
        color: $background-white;
      }

      li {
        list-style-type: none;
        margin-bottom: 30px;
      }
    }
  }

  .terms {
    width: 60%;
    a {
      text-decoration: none;
      color: $background-white;
    }

    li {
      list-style-type: none;
      margin-bottom: 30px;
    }
  }

  @media (min-width: 768px) {
    .container {
      @include flex(row, space-between, baseline);
    }

    .links-socials,
    .about-us {
      width: 40%;
    }

    .copyright-terms {
      @include flex($direction: row-reverse, $align: space-between);
    }

    .terms {
      li {
        display: inline;
        margin-left: 22px;
      }

      ul {
        text-align: right;
      }
    }
  }
}
