<div class="task-card-skeleton">
  <div class="icon-wrapper-skeleton skeleton"></div>
  <div class="card-content-skeleton">
    <div class="title-row-skeleton">
      <div class="title-group-skeleton">
        <div class="title-skeleton skeleton"></div>
        <div class="description-skeleton skeleton"></div>
      </div>
      <div class="meta-tags-skeleton">
        <div class="tag-skeleton skeleton"></div>
        <div class="tag-skeleton skeleton"></div>
      </div>
    </div>
    <div class="card-footer-skeleton">
      <div class="details-skeleton">
        <div class="detail-item-skeleton skeleton"></div>
        <div class="detail-item-skeleton skeleton"></div>
      </div>
    </div>
  </div>
</div>
