@use 'mixins' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'components' as *;

.skill-card {
  @include flex-column;
  align-items: flex-start;
  background: transparent;
  padding: 12px 16px;
  width: fit-content;
  margin-block: 35px;
}

.skill-header {
  @include flex-center;
  gap: 6px;
  margin-bottom: 10px;

  .icon {
    width: 20px;
    height: 20px;
  }

  .label {
    @include h11;
    color: $gray-text-strong;

    @media (max-width: 600px) {
      @include h13;
    }
  }
}

.levels {
  display: flex;
  gap: 8px;
}

.level-chip {
  padding: 6px 35px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.9;
  }

  &[data-level='beginner'] {
    background-color: #f3faf3;
    color: #358439;
  }

  &[data-level='intermediate'] {
    background-color: #eef4ff;
    color: #142fe1;
  }

  &[data-level='advanced'] {
    background-color: #fffbeb;
    color: #dd7602;
  }

  &.selected {
    color: #fff;

    &[data-level='beginner'] {
      background-color: #358439;
      border-color: #358439;
    }

    &[data-level='intermediate'] {
      background-color: #142fe1;
      border-color: #142fe1;
    }

    &[data-level='advanced'] {
      background-color: #dd7602;
      border-color: #dd7602;
    }
  }

  @media (max-width: 600px) {
    padding: 6px 20px;
    height: 40px;
  }
}
