@use 'colors' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'components' as *;

.plan-confirmation {
  background: $background-white;
  @include flex(column);
  justify-content: center;
  align-items: stretch; 
  width: 100%;
  min-height: 100vh;

  
  .plan-levels {
    width: 90%;
    padding: 10px 0;
    border-radius: 10px;
    margin-inline: auto;
  }

  
  &-container,
  .cancellation-policy {
    width: 90%;
    max-width: 825px;
    padding: 48px 16px;
    margin: 24px auto;
    background-color: $gray-white;
    border-radius: 10px;

    h1 {
      @include h12;
      margin-bottom: 12px;
    }

    p {
      color: $gray-text-strong;
    }

    .back-btn {
      background-color: transparent;
      border: none;
      color: $brand-text;
      @include h13;
      cursor: pointer;
      @include flex(row, center, center, 2px);
      margin-bottom: 32px;
    }

    .plan {
      color: $gray-text-strong;

      .plan-type {
        @include h11;
      }

      .details {
        @include h13;

        ul {
          margin-top: 10px;
        }

        li {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-block: 30px;
        }
      }
    }

    .switch-plan {
      margin-top: 20px;

      p {
        padding-block: 5px;

        a {
          text-decoration: none;
          color: $brand-text;
        }
      }
    }
  }

  &-selection {
    margin-top: 48px;
  }

  &-btns {
    margin-top: 26px;
    @include flex(column,16px);
    gap: 16px;

    button {
      @include button-base;
      font-size: 16px;
    }

    .plan-confirmation-btns--next {
      @include button-primary;
    }
  }

  .payment-type-details {
    margin-top: 20px;

    form {
      @include flex(column);
      gap: 20px;
    }

    .paypal-container {
      border: 1px solid $gray-white-weak;
      height: 52px;
      border-radius: 5px;
      padding-inline: 10px;
      @include flex($direction: row, $justify: space-between);
      @include h13;
    }

    .credit-card {
      border: 1px solid $gray-white-weak;
      border-radius: 5px;
      padding-inline: 10px;

      &--container {
        height: 52px;
        border-radius: 5px;
        @include flex($direction: row, $justify: space-between);
        @include h13;
      }

      p {
        margin: 20px auto;
        width: 90%;
      }
    }

    .label {
      display: flex;
      gap: 10px;
    }

    .pay-button {
      @include button-primary;
    }
  }
}

.creditcard-data {
  width: 90%;
  margin: 20px auto;

  .group-one {
    margin-top: 20px;

    @include desktop {
      @include flex;
      gap: 60px;
    }
  }

  .expiry-cvv {
    @include flex;
    gap: 10px;
    margin-top: 20px;

    @include desktop {
      margin-top: 0;
      gap: 60px;
    }
  }
}

.cancellation-policy {
  @include flex(column);
  justify-content: center;
  flex-direction: column-reverse;
  gap: 20px;

  .policy {
    p {
      @include h13;
      color: $gray-stroke-strong;
    }

    h1 {
      @include h12;
      color: $gray-text-strong;
    }
  }

  img {
    width: 101px;
    height: 101px;
    margin-inline: auto;

    @include desktop {
      width: 150px;
    }
  }

  @include desktop {
    @include flex;
    gap: 90px;
    padding-inline: 40px;
  }
}

.home {
  margin-top: 5rem;
  margin-bottom: 100px;
}

@include desktop {
  .card-data,
  .codes {
    @include flex($direction: row, $justify: space-between);
    gap: 50px;
  }
}

@include tablet {
  .plan-confirmation {
    &-container {
      padding: 48px 48px;

      h1 {
        @include h9;
      }

      p {
        max-width: 640px;
      }
    }

    &-btns {
      @include flex($direction: row, $justify: space-between);
    }
  }
}

app-plan-levels,
app-plan-levels:host {
  display: block;
  width: 100%;
}
