<section class="tasks-list-section">
  @for (section of taskSections(); track section.title) {
    @let title = section.title;
    @let tasks = section.tasks;
    @let emptyMessage = section.emptyMessage;
    @let showDropdown = section.showDropdown;
    @let viewState = section.viewState;

    <div class="list-container">
      @if (showDropdown) {
        <div class="list-header">
          <h2 class="list-title">{{ title }}</h2>
          <app-custom-dropdown
            [options]="timeRanges()"
            [selectedValue]="selectedTimeRange()"
            (selectionChange)="onTimeRangeChange($event)"
          />
        </div>
      } @else {
        <h2 class="list-title">{{ title }}</h2>
      }

      <div class="cards-wrapper">
        @switch (viewState) {
          @case ('loading') {
            @for (i of skeletonItems; track i) {
              <app-task-card-skeleton />
            }
          }
          @case ('data') {
            @for (task of tasks; track task.id) {
              <app-tasks-card
                [task]="task"
                [isCompleted]="title === 'Previous Tasks'"
                (startTask)="onStartTask($event)"
              />
            }
          }
        }
      </div>

      @if (viewState === 'empty') {
        <div class="empty-state">
          <p class="empty-message">{{ emptyMessage }}</p>
        </div>
      }

      @if (viewState === 'data') {
        @if (title === "Today's Tasks") {
          @let number = todayTasksPagination().number;
          @let totalPages = todayTasksPagination().totalPages;
          @let totalElements = todayTasksPagination().totalElements;
          <app-pagination
            [paginationData]="{
              currentPage: number + 1,
              totalPages: totalPages,
              totalElements: totalElements,
            }"
            (pageChanged)="onTodayPageChange($event)"
          />
        } @else {
          @let number = previousTasksPagination().number;
          @let totalPages = previousTasksPagination().totalPages;
          @let totalElements = previousTasksPagination().totalElements;
          <app-pagination
            [paginationData]="{
              currentPage: number + 1,
              totalPages: totalPages,
              totalElements: totalElements,
            }"
            (pageChanged)="onPreviousPageChange($event)"
          />
        }
      }
    </div>
  }
</section>
