/* Brand */
$brand-text: #3366FF;
$brand-stroke-strong: #142FE1;
$brand-stroke-weak: #D9E5FF;
$brand-fill: #EEF4FF;

/* Red */
$red-text: #DB2A27;
$red-stroke-strong: #B8201D;
$red-stroke-weak: #FBA8A6;
$red-fill: #FEF2F2;

/* Amber */
$amber-text: #E5A818;
$amber-stroke-strong: #EAB946;
$amber-stroke-weak: rgba(230, 168, 23, 0.2);
$amber-fill: rgba(230, 168, 23, 0.05);

/* Green */
$green-success: #358439;
$green-text: #43B75D;
$green-stroke-strong: #63C579;
$green-stroke-weak: #C5EDCD;
$green-fill: #F2FBF4;

/* Gray */
$gray-text-strong: #4F4F4F;
$gray-text-weak: #6D6D6D;
$gray-stroke-strong: #888888;
$gray-stroke-weak: #E7E7E7;
$gray-fill: #F6F6F6;

/* Background */
$background-dark: #353B45;
$background-raised: #262626;
$background-overlay: #3D3D3D;
$background-white: #F6FBFF;

