/* Brand */
$brand-text: #3366ff;
$brand-stroke-strong: #142fe1;
$brand-stroke-weak: #d9e5ff;
$brand-fill: #eef4ff;
$brand-fill-weak: #fcfcfd;

/* Red */
$red-text: #db2a27;
$red-stroke-strong: #b8201d;
$red-stroke-weak: #fba8a6;
$red-fill: #fef2f2;

/* Amber */
$amber-text: #e5a818;
$amber-text-strong: #a86100;
$amber-stroke-strong: #eab946;
$amber-stroke-weak: rgba(230, 168, 23, 0.2);
$amber-fill: rgba(230, 168, 23, 0.05);

/* Yellow */
$yellow-stroke-weak: #fff4c6;
$yellow-stroke-strong: #dd7602;

/* Green */
$green-success: #358439;
$green-success-text: #66bb6a;
$green-text: #43b75d;
$green-stroke-strong: #63c579;
$green-stroke-weak: #c5edcd;
$green-fill: #f2fbf4;
$green-success-fill: #f3faf3;

/* Gray */
$gray-text-strong: #4f4f4f;
$gray-text-weak: #6d6d6d;
$gray-stroke-strong: #888888;
$gray-stroke-weak: #e7e7e7;
$gray-light: #d9d9d9;
$gray-fill: #f6f6f6;
$gray-white: #ffffff;
$gray-background-weak: #e5e7eb;

/* Orange */
$orange-text: #f2994a;
$orange-stroke-strong: #eb7c2a;
$orange-stroke-weak: #fcd9c1;
$orange-fill: #fff4e9;

/* Background */
$background-dark: #353b45;
$background-raised: #262626;
$background-overlay: #3d3d3d;
$background-white: #f6fbff;

/* Neutral */
$white: #ffffff;
$text-gray: #d1d1d1;
$box-shadow-gray: #282c3414;
$base-dark: #454f5f;
