$z-layers: (
  'sidebar-overlay': 19,
  'sidebar': 30,
  'header': 20,
  'modal': 100,
);

$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-2xl: 3rem;
$space-3xl: 4rem;

$rounded-xs: 4px;
$rounded-sm: 8px;
$rounded-md: 12px;
$rounded-lg: 16px;
