@defer (when isSubmitting() || isComplete()) {
  <section class="level">
    <div class="level-container">
      <div class="level--spinner">
        @if (isSubmitting()) {
          <img src="assets/checked-circle.png" alt="checked" />
          <div class="content">
            <h1>Building Your Personalised Skill Journey</h1>
            <p>
              Hang tight, we&apos;re setting things up for you. AI is tailoring tasks to match your
              interests and skill level.
            </p>
          </div>
          <button class="loading-btn" [disabled]="true">
            <div class="custom-spinner"></div>
          </button>
        } @else if (isComplete()) {
          <img src="assets/checked-circle.png" alt="checked" />
          <div class="content">
            <h1>You&apos;re all set</h1>
            <p>
              Your personalized learning journey is ready.We&apos;ve created tasks based on your
              interest and proficiency level
            </p>
          </div>
          <button (click)="navigateToDashboard()">
            Go to Dashboard
            <img class{="right-arrow" } src="assets/right-arrow.png" alt="right arrow" />
          </button>
        }
      </div>
    </div>
  </section>
} @placeholder {
  <section class="level">
    <div class="level-container">
      <button class="back-btn" (click)="goBack()">
        <img src="assets/left-arrow.png" alt="Navigate back" />
        <span>The Final Step</span>
      </button>

      <header>
        <h1>Tell us your skill level</h1>
        <p>
          For each topic you slected, let us know how comfortable you feel. This helps us match you
          with the right challenges
        </p>
      </header>
      <div class="level-selection"></div>
      <div class="skill-list">
        @for (skill of skills(); track skill.skillId) {
          <app-skill-level-selector
            [skillName]="getSkillInfo(skill.skillId).name"
            [skillIcon]="getSkillInfo(skill.skillId).icon"
            [selectedLevel]="skill.level"
            [levels]="levels"
            (levelSelected)="onLevelSelect(skill, $event)"
          />
        }

        @if (skills().length === 0) {
          <p class="empty-state">Please go back and select your interests first.</p>
        }
      </div>
      <div class="level-btns">
        <button class="level-btns--skip" (click)="onSkip()" [disabled]="isSubmitting()">
          Skip
        </button>
        <button class="level-btns--next" (click)="onNext()" [disabled]="isSubmitting()">
          @if (isSubmitting()) {
            <span class_comment="You'll need CSS for .spinner"></span>
            Finishing...
          } @else {
            Next
          }
        </button>
      </div>
    </div>
  </section>
}
