<div class="onboarding-login">
  <div class="alert-container">
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>

  <h1>Welcome Back 👋</h1>
  <p>Sign in to continue your personalized learning journey</p>

  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <app-input-field
      label="Email"
      type="email"
      id="email"
      placeholder="Email"
      [control]="emailControl"
    ></app-input-field>

    <app-input-field
      label="Password"
      type="password"
      id="password"
      placeholder="***********"
      [control]="passwordControl"
    ></app-input-field>

    <a routerLink="auth/forgotpassword">Forgot Password?</a>

    <button class="login-button" type="submit" [disabled]="loginForm.invalid || loading">
      {{ loading ? 'Logging in...' : 'Login' }}
    </button>
  </form>

  <p class="login-donthave-account">
    Don't have an account? <a routerLink="auth/signup">Sign Up</a>
  </p>

  <p class="login-or">or</p>

  <div class="login-other--login">
    <button type="button" class="google-login">
      <img src="assets/images/google.png" alt="google logo" />
      <p class="login-alternative--text">Sign in with Google</p>
    </button>

    <button type="button" class="facebook-login">
      <img src="assets/images/apple.png" alt="apple logo" />
      <p class="login-alternative--text">Sign in with Apple</p>
    </button>
  </div>
</div>
