<div class="onboarding-login">
  <div class="alert-container">
    <div class="alert alert-success" role="alert" *ngIf="successMessage">
      {{ successMessage }}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>
  </div>

  <h1>Reset Your Password</h1>
  <p>Enter a new password below to secure your account.</p>

  <form [formGroup]="loginForm" (ngSubmit)="resetpassword()" novalidate>
    <!-- New Password -->
    <app-input-field
      label="New Password"
      type="password"
      id="password1"
      placeholder="***********"
      [control]="password1Control"
    ></app-input-field>

    <!-- Password Strength Indicators -->
   <ul class="password-strength">
  <li [class.valid]="hasUppercase">
    <fa-icon [icon]="hasUppercase ? faCheck : faTimes"></fa-icon>
    1 uppercase
  </li>
  <li [class.valid]="hasLowercase">
    <fa-icon [icon]="hasLowercase ? faCheck : faTimes"></fa-icon>
    1 lowercase
  </li>
  <li [class.valid]="hasNumber">
    <fa-icon [icon]="hasNumber ? faCheck : faTimes"></fa-icon>
    1 number
  </li>
  <li [class.valid]="hasSpecialChar">
    <fa-icon [icon]="hasSpecialChar ? faCheck : faTimes"></fa-icon>
    1 special character (e.g. !@#$%^&*)
  </li>
  
</ul>

    <!-- Confirm Password -->
    <app-input-field
      label="Confirm Password"
      type="password"
      id="password2"
      placeholder="***********"
      [control]="password2Control"
    ></app-input-field>

    <button class="login-button" type="submit" [disabled]="loginForm.invalid || loading">
      {{ loading ? 'Resetting...' : 'Reset Password' }}
    </button>
  </form>
</div>
