@use 'colors' as *;
@use 'components' as *;
@use 'mixins' as *;

.toast-container {
  position: fixed;
  top: 1.875rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 30rem;
  width: calc(100% - 2.5rem);
  min-width: 21.875rem;
  animation: slideIn 0.3s ease-out;
  opacity: 1;
  transition:
  opacity 0.3s ease-out,
  transform 0.3s ease-out;

  @include tablet {
    left: auto;
    right: 1.25rem;
    transform: none;
    max-width: 25rem;
    width: auto;
  }

  &.toast-exit {
    opacity: 0;
    transform: translateX(100%);

    @include tablet {
      transform: translateX(100%);
    }
  }
}

.toast {
  &.toast-success {
    @include alert-success;

    & {
      color: $green-success;
    }
  }

  &.toast-error {
    @include alert-error;
  }

  &.toast-info {
    @include alert-info;
  }

  &.toast-warning {
    @include alert-warning;
  }

  button {
    background: none;
    border: none;
    color: inherit;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}