@use 'typography' as *;
@use 'mixins' as *;

:host {
  display: block;
  background-color: var(--color-background-white);
}

.dashboard-content {
  padding: var(--space-2xl) var(--space-xl);
}

@include tablet {
  :host {
    padding: 0;
  }

  .dashboard-content {
    padding: var(--space-xl) var(--space-2xl);
  }
}
