@use 'typography' as *;
@use 'mixins' as *;

:host {
  display: block;

  --spacing-xs: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
}

$error-bg: #fef2f2;
$error-border: #dc2626;
$error-color: #db2a27;
$error-btn-color-hover: #fef2f2;
$error-border: #dc2626;
$error-title-color: #db2a27;
$error-btn-bg-hover: #b91c1c;
$error-btn-border: #b91c1c;

.progress-overview {
  padding: var(--space-lg) 20px;
  background-color: var(--color-white);

  .section-header {
    @include flex($direction: row, $justify: space-between, $align: center, $gap: var(--space-xs));
    margin-bottom: var(--space-lg);

    h2 {
      @include h13;
      font-weight: 400;
      color: var(--gray-stroke-strong);
      margin-bottom: var(--space-xs);
    }

    & span {
      background-color: var(--color-brand-fill);
      color: var(--color-brand-text);
      font-size: 12px;
      padding: 0.25rem var(--space-xs);
      border-radius: 8px;
    }

    .skill-filter {
      display: none;
    }

    .filters {
      @include flex($direction: row, $align: center, $gap: var(--space-md));

      .period-filter {
        @include flex($direction: row, $align: center, $gap: var(--space-md));

        button {
          display: none;
        }

        & app-custom-dropdown {
          display: block;
        }
      }
    }
  }
}

.error-container {
  @include flex($direction: column, $gap: var(--spacing-xs));
  padding: var(--spacing-md);
  background-color: $error-bg;
  border-radius: 8px;

  .error-title {
    @include h13;
    color: $error-title-color;
  }

  .error-message {
    background-color: var(--color-white);
    text-align: center;
    font-size: 12px;
    padding: 6px 8px;
    margin: 0 auto;
  }
}

@include tablet {
  :host {
    padding: 0;
  }

  .progress-overview {
    padding: var(--space-2xl) var(--space-3xl);

    .section-header {
      @include flex($direction: column, $gap: var(--space-lg));

      h2 {
        @include h10;
      }

      .header-title {
        @include flex($direction: row, $align: center, $gap: var(--space-sm));
      }

      .skill-filter {
        display: block;
        @include flex($direction: row, $align: center, $gap: var(--space-md));

        & p {
          font-weight: 500;
          color: var(--color-gray-text-strong);
        }
      }

      .filters {
        @include flex(
          $direction: row,
          $align: center,
          $justify: space-between,
          $gap: var(--space-md)
        );

        .period-filter {
          .button-group {
            @include flex($direction: inline-flex);
            border-radius: 4px;
            border: 1px solid var(--color-text-gray);
            overflow: hidden;
          }
          .button-group button {
            display: inline-block;
            font-size: 1rem;
            padding: 6px 10px;
            color: var(--color-gray-stroke-strong);
            border: none;
            border-radius: 0;
            background-color: transparent;
            cursor: pointer;

            &.active {
              background-color: var(--color-brand-text);
              color: var(--color-white);
            }

            &:not(:last-child) {
              border-right: 1px solid var(--color-text-gray);
            }
          }

          & app-custom-dropdown {
            display: none;
          }
        }
      }
    }
  }
}
