 <nav class="navbar">
      <div class="navbar-container">
        <a href="#" class="logo">SkillDev</a>
        
        <div class="nav-menu">
         @for (item of navItems; track item.label) {
          <a 
            
              [routerLink]="item.link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: item.exact }">
            {{ item.label }}
          </a>
        }
        </div>

        <div class="nav-actions">
          <a routerLink="/login" class="login-btn">Login</a>
          <a routerLink="signup" class="signup-btn">Sign Up</a>
        </div>

        <button class="hamburger" (click)="toggleMenu()">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
    </nav>

    <div class="mobile-menu" [class.active]="isMobileMenuOpen">
      <div class="mobile-header">
        <a href="#" class="logo">SkillDev</a>
        <button class="close-btn" (click)="toggleMenu()">×</button>
      </div>
      
      <div class="mobile-nav-items">
       @for (item of navItems; track item.label) {
        <a 
          
            [routerLink]="item.link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: item.exact }"
            (click)="toggleMenu()">
          {{ item.label }}
        </a>
      }
      </div>

      <div class="mobile-actions">
        <a href="#" class="mobile-login" (click)="toggleMenu()">Login</a>
        <a href="#" class="mobile-signup" (click)="toggleMenu()">Sign Up</a>
      </div>
    </div>