@use 'colors' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'components' as *;

.lumina-callout {
  background: {
    color: $brand-text;
    image: url('/assets/lumina-bg.png');
    repeat: no-repeat;
    size: cover;
    position: center;
  }

  padding: 2.5rem 2rem;
  overflow: hidden;
  border-radius: 0.5rem;
  max-width: 87.5rem;
  position: relative;
  margin: 4rem auto 0;

  @include tablet {
    padding: 5.3rem 5rem;
  }
}

.callout-inner {
  @include flex;
  position: relative;
  width: 100%;
  max-width: 75rem;

  .content-wrapper {
    @include flex(column, flex-start, stretch, 2.2rem);
    text-align: left;
    color: $gray-fill;

    @include mobile-large {
      max-width: 21.25rem;
    }

    @include tablet {
      max-width: 23.75rem;
    }

    @include desktop {
      max-width: 30rem;
    }

    @include desktop-large {
      max-width: 43.75rem;
    }

    .callout-title {
      @include h10;

      @include tablet {
        @include h4;
      }
    }

    .callout-description {
      display: none;

      @include tablet {
        display: inline;
        @include h13;
        color: $gray-fill;
      }
    }
  }

  .robot-image {
    display: none;

    @include mobile-large {
      display: block;
      position: absolute;
      width: 13.7rem;
      height: auto;
      right: -90px;
      bottom: -50px;
    }

    @include tablet {
      width: 26rem;
      right: -170px;
      bottom: -90px;
    }

    @include desktop {
      width: 37rem;
    }

    @include desktop-large {
      width: 30rem;
      right: -100px;
      bottom: -85px;
    }
  }
}
