@use 'colors' as *;
@use 'mixins' as *;
@use 'typography' as *;
@use 'components' as *;
@use 'sass:color';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @include flex($justify: center, $align: center);
  z-index: 1000;
  padding: 1rem;
}

.modal-content {
  background-color: $white;
  border-radius: 1rem;
  padding: 1.188rem 1.688rem;
  width: 100%;
  max-width: 650px;
  @include flex($direction: column, $align: center, $gap: 1rem);
  text-align: center;

  @include mobile-large {
    padding: 3.5rem 5.813rem;
  }
}

.modal-title {
  @include typography(1.25rem, 1.5rem, 600);
  color: $gray-text-strong;

  @include mobile-large {
    @include typography(1.75rem, 2.25rem, 600);
  }
}

.modal-message {
  @include h13;
  color: $gray-text-weak;
  margin-bottom: 1rem;

  @include mobile-large {
    @include h11;
  }
}

.actions {
  width: 100%;
  @include flex($direction: column, $gap: 1.313rem);

  .submit-button {
    @include button-primary;
    @include flex($justify: center, $align: center, $gap: 0.5rem);
    width: 100%;

    .icon {
      width: 24px;
      height: 24px;
    }
  }

  .return-button {
    @include button-base;
    background-color: $brand-fill;
    color: $brand-text;
    width: 100%;
    font-weight: 500;

    &:hover {
      background-color: color.adjust($brand-fill, $lightness: -5%);
    }
  }
}
