<section class="hero-container">

    <div class="hero-content">
        <section class="hero-text">
            <h1 class="hero-title">
                Master Your Technical Skills with Personalized AI Practice
            </h1>

            <p class="hero-subtitle">
                Ready to advance your career or just sharpen your tech abilities? Effective practice is key,
                but finding relevant challenges and getting actionable feedback can be tough.
            </p>
        </section>

        <section class="hero-bottom">
            <div class="social-proof">
                <img class="avatars" src="assets/avatar-collection.png" alt="avatars">
                <div class="proof-count">
                    <p class="count">10k +</p>
                    <p class="users">Users</p>
                </div>
            </div>

            <div class="hero-actions">
                <button class="btn-primary" (click)="navigateToLogin()">Start Practicing Free</button>
                <button class="btn-outline">Learn More</button>
            </div>
        </section>

    </div>

    <div class="hero-visual">
        <img src="assets/hero-image.png" class="visual-placeholder" alt="hero-image">
    </div>
</section>