@use 'mixins' as *;
@use 'colors' as *;
@use 'typography' as *;

$beginner-bg: #f3faf3;
$beginner-text: #66bb6a;
$beginner-selected-bg: #358439;

$intermediate-bg: #eef4ff;
$intermediate-text: #3366ff;
$intermediate-selected-bg: #4f46e5;

$advanced-bg: #fffbeb;
$advanced-text: #dd7602;
$advanced-selected-bg: #f59e0b;

$default-bg: #f4f4f5;
$default-text: #52525b;
$selected-text: #fff;
$hover-border: #d1d5db;

.skill-item {
  @include flex($direction: column, $gap: 1rem);
  padding: var(--space-md) 0;
  width: 100%;
}

.skill-info {
  @include flex($direction: row, $align: center, $gap: 8px);
  margin-bottom: var(--space-md);
}

.skill-icon, .emoji-icon {
  @include flex(row, center, center);
  width: 28px;
  height: 28px;
}

.emoji-icon {
  line-height: 28px;
}

.skill-name {
  @include flex(row, center, center);
  @include h11;
  color: var(--color-gray-text-strong);
  font-weight: 400;
}

.level-buttons {
  @include flex($direction: row, $gap: 20px);
  flex-wrap: wrap;
}

.level-btn {
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 20px;
  @include h11;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: #f4f4f5;
  color: #52525b;

  &.beginner {
    background-color: $beginner-bg;
    color: $beginner-text;
  }

  &.intermediate {
    background-color: $intermediate-bg;
    color: $intermediate-text;
  }

  &.advanced {
    background-color: $advanced-bg;
    color: $advanced-text;
  }

  &.selected {
    color: var(--color-white);

    &.beginner {
      background-color: $beginner-selected-bg;
    }
    &.intermediate {
      background-color: $intermediate-selected-bg;
    }
    &.advanced {
      background-color: $advanced-selected-bg;
    }
  }

  &:not(.selected):hover {
    filter: brightness(0.95);
    border-color: $hover-border;
  }
}

@include tablet {
  .level-buttons {
    @include flex($direction: row, $gap: 48px);
    flex-wrap: wrap;
  }
}
