<header class="navbar mobile-header">
  <div class="navbar-items">
    <span class="logo">Dashboard</span>
  </div>
  <div class="navbar-info">
    <span class="navbar-item" [attr.aria-label]="'You have ' + totalUserxp() + ' experience points'"
      >{{ totalUserxp() }} xp</span
    >
    <button class="icon-button" aria-label="View notifications">
      <lucide-icon name="bell-dot" [size]="24" color="currentColor" [strokeWidth]="1.5" />
    </button>
    <button
      class="menu-button"
      (click)="onToggleSidebar()"
      aria-label="Toggle navigation menu"
      [attr.aria-expanded]="isSidebarOpen"
    >
      <lucide-icon name="menu" [size]="24" color="currentColor" [strokeWidth]="1.5" />
    </button>
  </div>
</header>
<nav class="navbar desktop-navbar">
  <div class="navbar-items">
    <div class="navbar-info">
      <span
        class="navbar-item"
        [attr.aria-label]="'You have ' + totalUserxp() + ' experience points'"
        >{{ totalUserxp() }} xp</span
      >
      <button class="icon-button" aria-label="View notifications">
        <lucide-icon name="bell-dot" [size]="24" color="currentColor" [strokeWidth]="1.5" />
      </button>
    </div>

    @if (user()) {
      <div class="navbar-profile">
        <img
          class="navbar-profile--avatar"
          [src]="user()?.avatarUrl || '/assets/fallback-profile-icon.png'"
          [alt]="'Profile picture of ' + (user()?.fullName || user()?.email)"
          loading="lazy"
          width="40"
          height="40"
        />
        <div>
          <a routerLink="/dashboard/profile" class="navbar-profile--name">{{
            user()?.fullName || user()?.email
          }}</a>
          <p class="navbar-profile--type">{{ user()?.premiumTier }}</p>
        </div>
      </div>
    }
  </div>
</nav>
