@use 'mixins' as *;
@use 'variables' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'components' as *;

.multiple-choice {
  .error-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    @include flex(row, center, center);

    .error-message-container {
      max-width: 600px;
      width: 90%;
      margin-inline: auto;
      margin-block: auto;
      padding: 20px;
      background-color: $brand-fill;
      border-radius: 5px;
      text-align: center;

      h1 {
        @include h9;
        color: $gray-text-strong;
        margin-bottom: 10px;
        font-weight: 600;
      }

      p {
        @include h13;
        color: $gray-text-weak;
        margin-bottom: 20px;
      }

      .retry-button {
        @include button-primary;
        margin-block: 10px;
      }

      .back-button {
        @include button-outline;
      }
    }

    img {
      background-color: rgba($red-stroke-weak, 0.5);
      margin-bottom: 20px;
      border-radius: 50%;
      padding: 10px;
    }
  }

  .loading-modal {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    @include flex(row, center, center);

    .loading-container {
      max-width: 600px;
      width: 90%;
      margin-inline: auto;
      margin-block: auto;
      padding: 20px;
      background-color: $brand-fill;
      border-radius: 5px;
      text-align: center;

      p {
        @include h13;
        color: $gray-text-weak;
        margin-bottom: 20px;
        margin-inline: auto;
      }
    }

    img {
      background-color: rgba($red-stroke-weak, 0.5);
      margin-bottom: 20px;
      border-radius: 50%;
      padding: 10px;
    }
  }
}
