@use 'mixins' as *;
@use 'variables' as *;
@use 'colors' as *;
@use 'typography' as *;
@use 'components' as *;

.multiple-choice {
  width: 90%;
  margin-inline: auto;
  margin-top: 2rem;

  .task-name {
    display: none;
    label {
      @include h13;
      margin-right: 10px;
      color: $gray-text-strong;
    }

    img {
      height: 14px;
      margin-right: 10px;
    }

    .task-label {
      color: $brand-text;
    }
  }

  .progress-bar {
    progress {
      width: 100%;
      height: 6px;
      border-radius: 10px;
      overflow: hidden;
      appearance: none;
      -webkit-appearance: none;

      &::-webkit-progress-bar {
        background-color: $brand-fill;
      }

      &::-webkit-progress-value {
        background-color: $brand-text;
      }

      &::-moz-progress-bar {
        background-color: $brand-text;
      }
    }
  }

  .timer1 {
    @include flex(row, space-between, center, 10px);
    color: $gray-fill;
    padding: 2px 13px;
    border-radius: 2px;
    background-color: $red-stroke-strong;
    @include h12;
    width: 117px;
    margin-left: auto;
    margin-top: 25px;
  }

  .questions-content {
    background-color: $gray-white;
    width: 100%;
    margin-block: 25px;
    padding: 10px 20px;
    border-radius: 5px;

    .task-title-level-data {
      display: none;
      @include flex(row, space-between);

      h1 {
        display: none;
        @include h7;
        color: $gray-text-strong;
      }

      .task-level {
        display: none;

        .level {
          display: none;
          @include h12;
          padding: 2px 10px;
          border-radius: 30px;
          background-color: $green-fill;
          color: $green-success;
        }

        .point {
          display: none;
          color: $orange-stroke-strong;
          @include h12;
        }

        .timer {
          display: none;
          color: $gray-fill;
          padding: 2px 13px;
          border-radius: 2px;
          background-color: $red-stroke-strong;
          @include h12;
        }
      }
    }
  }

  .question-track-level {
    width: 100%;
    @include h13;
    @include flex(row, space-between, center);

    .level {
      @include h12;
      padding: 5px 15px;
      border-radius: 30px;
      background-color: $green-fill;
      color: $green-success;
    }
  }

  .question-answers {
    color: $gray-text-strong;
    margin-block: 20px;

    .question {
      @include h13;
      white-space: pre-line;
    }

    .question-options {
      @include flex(column);
      margin-top: 15px;

      .option {
        @include h10;
        @include flex(row, flex-start, center, 15px);
        border: 1px solid $gray-stroke-weak;
        width: 100%;
        border-radius: 2px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        label {
          width: 35px;
          height: 35px;
          @include flex(row, center, center);
          background-color: $brand-fill;
          border-radius: 4px;
          color: $gray-text-strong;
        }

        .answer {
          color: $gray-text-weak;
          transition: color 0.2s ease;
        }

        &:hover:not(.disabled),
        &.selected:not(.correct-answer) {
          background-color: $brand-text;

          .answer {
            color: $gray-white;
          }
        }

        &.disabled {
          cursor: default;
        }

        &.correct-answer {
          border: 1px solid $green-success;
          background-color: $green-fill;

          label {
            background-color: transparent;
            color: $gray-text-strong;
          }
          .answer {
            color: $gray-text-strong;
          }
        }
      }
    }
  }

  .hint {
    @include flex(row, flex-start, center, 10px);
    width: 100%;
    margin-inline: auto;
    margin-block: 40px;
    @include h13;
    color: $orange-stroke-strong;
    background-color: $amber-stroke-weak;
    padding: 10px;
    border-radius: 2px;
  }

  .explanation {
    @include flex(row, flex-start, center, 10px);
    width: 100%;
    margin-inline: auto;
    margin-block: 40px;
    @include h13;
    color: $green-success;
    background-color: $brand-fill;
    padding: 10px;
    border-radius: 2px;

    .explanation-text {
      p {
        color: $brand-text;
      }
    }
  }

  .buttons {
    @include flex(row, space-between, center, 10px);

    button {
      width: 50px;
      height: 55px;
      border-radius: 4px;
      @include h12;
    }
    .next {
      background-color: $brand-text;
      border: 2px solid transparent !important;
      color: $gray-fill;

      &:hover:not(:disabled) {
        background-color: $brand-stroke-strong;
      }

      &:disabled {
        background-color: $brand-fill;
        color: $brand-stroke-weak;
        cursor: not-allowed;
      }
    }

    .previous {
      background-color: transparent;
      border: 2px solid $brand-text !important;
      color: $brand-text;

      &:hover:not(:disabled) {
        background-color: $brand-stroke-weak;
      }

      &:disabled {
        border-color: $brand-fill !important;
        color: $brand-stroke-weak;
        cursor: not-allowed;
      }
    }

    label {
      display: none;
    }
  }

  .quiz-complete {
    width: 100%;
    border-radius: 5px;
    background-color: $white;
    @include flex(column, center, center, 10px);
    margin-block: 30px;
    padding-block: 10rem;
    color: $gray-text-strong;

    p {
      @include h13;
    }

    .mark {
      @include h7;
    }

    .outof {
      @include h13;
    }

    .buttons {
      width: 55%;

      button {
        width: 50px;
        height: 55px;
      }

      label {
        display: none;
      }
    }
  }

  @media (min-width: 768px) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .task-name {
      display: block;
    }

    .timer1 {
      display: none;
    }

    .questions-content {
      .task-title-level-data {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
          display: block;
          @include h7;
          color: $gray-text-strong;
        }

        .task-level {
          display: flex;
          align-items: center;
          gap: 20px;

          .level,
          .point {
            display: none; // hidden on tablet
          }

          .timer {
            display: flex;
            align-items: center;
            gap: 10px;
            color: $gray-fill;
            padding: 2px 13px;
            border-radius: 2px;
            background-color: $red-stroke-strong;
            @include h12;
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .timer1 {
      display: none;
    }

    .questions-content {
      background-color: $gray-white;
      width: 100%;
      margin-block: 25px;
      padding: 10px 20px;
      border-radius: 5px;

      .task-title-level-data {
        @include flex(row, space-between);

        h1 {
          display: block;
          @include h7;
          color: $gray-text-strong;
        }

        .task-level {
          @include flex(row, space-between, center, 20px);

          .level,
          .point {
            display: block;
          }

          .timer {
            @include flex(row, space-between, center, 10px);
            color: $gray-fill;
            padding: 2px 13px;
            border-radius: 2px;
            background-color: $red-stroke-strong;
            @include h12;
          }
        }
      }
    }

    .question-track-level {
      width: 90%;
      margin-block: 25px;
      margin-inline: auto;
      label {
        display: none;
      }
    }

    .question-answers {
      width: 90%;
      margin-inline: auto;

      margin-block: 20px;
      .question {
        @include h9;
        font-weight: 600;
      }
    }

    .hint,
    .explanation {
      width: 90%;
    }

    .buttons {
      width: 90%;
      margin-inline: auto;
      button {
        width: 156px !important;
      }

      label {
        display: contents;
      }
      .previous {
        @include button-outline;
      }
      .next {
        @include button-base;
      }
    }

    .quiz-complete {
      p {
        @include h9;
      }

      .mark {
        @include h3;
      }

      .outof {
        @include h13;
      }

      .buttons {
        width: 45%;

        button {
          width: 50px !important;
          height: 55px;
        }

        label {
          display: none;
        }
      }
    }
  }
}
