@let name = plan().name;
@let tagline = plan().tagline;
@let price = plan().price;
@let period = plan().period;
@let features = plan().features;
@let isPopular = plan().isPopular;

<article class="pricing-card" [class.is-popular]="isPopular">
  @if (isPopular){
  <div class="popular-tag-wrapper">
    <div class="popular-tag">Most Popular </div>
    <img src="assets/stars.png" alt="Stars emoji" class="popular-stars">
  </div>
  }

  <div class="card-content-wrapper">
    <header class="card-header">
      <h3 class="plan-name">{{ name }}</h3>
      <p class="plan-tagline">{{ tagline }}</p>
    </header>

    <div class="price-container">
      <span class="price-value">{{ price | currency:'USD':'symbol':'1.0-2' }}</span>
      <span class="price-period">{{ period }}</span>
    </div>



    <ul class="features-list">
      <h4 class="features-title">What you get</h4>
      @for (feature of features; track $index) {
      <li class="feature-item">
        <img [src]="icon" alt="Checkmark icon" class="feature-icon">
        <span>{{ feature }}</span>
      </li>
      }
    </ul>

    <button class="action-button" aria-label="Select {{ name }} plan">
      I want this!
    </button>
  </div>
</article>