@use 'typography' as *;
@use 'mixins' as *;
@use 'variables' as *;
@use 'sass:map';

%sidebar-list-item {
  @include flex(row, flex-start, center, 12px);
  padding: 10px;
  @include h11;
  border-radius: 4px;
  color: var(--color-gray-text-strong);
  cursor: pointer;
  transition: all 0.2s ease;

  & lucide-icon {
    line-height: 0.5;
  }

  &.active {
    background-color: var(--color-brand-text);
    color: var(--color-white);
  }

  &:hover {
    background-color: var(--color-brand-text);
    color: var(--color-white);
  }
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: map.get($z-layers, 'sidebar');
  width: 261px;
  height: 100vh;
  background-color: var(--color-white);
  border-left: 1px solid var(--color-gray-stroke-weak);
  @include flex(column);
  padding: 36px 24px;

  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &.open {
    transform: translateX(0);
  }

  &-header {
    flex-shrink: 0;
    @include flex(row, space-between, center);
    margin-bottom: var(--space-xl);

    & button.close-button {
      background-color: transparent;
      border: none;
      color: var(--color-gray-text-strong);
    }
  }

  &-logo {
    @include h12;
    cursor: pointer;
    color: var(--color-brand-text);
  }

  &-menu {
    flex: 1;
    overflow-y: auto;
    max-width: none;
    height: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &-list {
      @include flex(column, flex-start, stretch, 24px);
    }

    &-item {
      @extend %sidebar-list-item;
    }

    &-banner {
      position: relative;
      box-sizing: border-box;
      margin: 55px 0;
      width: 100%;
      height: 200px;
      padding: 24px 16px;
      background: url('/assets/banner.png') no-repeat center/cover;
      border-radius: 8px;
      @include flex(column, center, flex-start);
      text-align: left;
      color: var(--color-white);

      & h2 {
        @include h11;
        margin-bottom: 16px;
      }

      & p {
        font-size: 12px;
        margin-bottom: 8px;
        max-width: 148px;
        line-height: 1.4;
      }

      & button {
        background-color: var(--color-white);
        color: var(--color-brand-text);
        border: 1px solid var(--color-white);
        padding: 8px 16px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: var(--color-brand-text);
          color: var(--color-white);
        }
      }
    }
  }

  &-footer {
    flex-shrink: 0;
    padding-top: var(--space-xl);

    &-list {
      list-style: none;
      @include flex($direction: column, $gap: 24px);
    }

    &-item {
      @extend %sidebar-list-item;
    }

    .logout-btn {
      @extend %sidebar-list-item;
      background-color: transparent;
      border: none;
      width: 100%;
      margin-top: var(--space-sm);
    }
  }
}

@include desktop {
  .sidebar {
    position: relative;
    flex-shrink: 0;
    transform: translateX(0);
    box-shadow: none;
    border-right: 1px solid var(--color-gray-stroke-weak);

    .sidebar-menu {
      max-width: 261px;
    }

    &-header {
      & button.close-button {
        display: none;
      }
    }
  }
}
