@use 'typography' as *;
@use 'mixins' as *;
@use 'colors' as *;

:host {
  display: block;
  --recommended-task-x: 1.75rem;
}

.recommended-tasks {
  background-color: var(--color-white);
  padding: var(--space-lg) var(--space-lg);
  margin-bottom: var(--space-2xl);

  .section-header {
    margin-bottom: var(--space-lg);

    h2 {
      @include h13;
      color: var(--color-background-overlay);
    }

    app-custom-dropdown {
      display: none;
    }
  }

  .tasks-list {
    @include flex($direction: column, $gap: var(--space-md));
  }
}

.styled-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: inline-block;
  width: 100%;
  max-width: 5rem;

  @include h14;
  color: $gray-text-strong;
  background-color: $white;

  border: 1px solid $text-gray;
  border-radius: 0.375rem;

  padding: 0.375rem 2.5rem 0.375rem 0.625rem;

  background-image: url('/assets/caret-down.png');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.25rem;

  cursor: pointer;

  &:focus {
    outline: 2px solid $text-gray;
    outline-offset: 2px;
  }

  @include mobile-large {
    @include h13;
    max-width: 6.938rem;
  }
}

@include tablet {
  .recommended-tasks {
    margin-bottom: var(--space-xl);
    background-color: var(--color-white);
    padding: var(--space-xl) var(--recommended-task-x);

    .section-header {
      @include flex($direction: row, $justify: space-between, $align: center);
      margin-bottom: var(--space-xl);

      h2 {
        @include h11;
        font-weight: 500;
      }

      app-custom-dropdown {
        display: block;
      }
    }
  }
}
