<section class="recommended-tasks">
  <div class="section-header">
    <h2>Recommended Tasks</h2>
    <app-custom-dropdown
      [options]="skillOptions"
      [selectedValue]="selectedSkillName"
      (selectOption)="onSelectSkill($event.toString())"
    />
  </div>
  <div class="tasks-list">
    @if (isRecommendedTasksLoading) {
      <app-recommended-tasks-card-skeleton />
    } @else if (recommendedTasksError; as error) {
      <app-dashboard-error-component
        [title]="'Could not load Recommended Tasks'"
        [message]="error.message"
        (retry)="handleRetryClick()"
      />
    } @else {
      @for (task of recommendations; track task.id) {
        <app-recommended-tasks-card [task]="task" />
      }
    }
  </div>
</section>
